.auth-header {
  margin-top: 40px;
  font-size: 24px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.auth-form-input {
  width: 300px;
  margin: 6px auto;
  padding: 6px;
  border: none;
  box-shadow: 5px 5px 10px #e7e7e7;
}
.auth-form-input:focus {
  outline: none;
}

.auth-form-button {
  border: none;
  margin: 6px 10px;
  padding: 6px 25px;
  border-radius: 30px;
  background: rgb(200, 255, 0);
  text-decoration: none;
  cursor: default;
}
.auth-form-button:hover {
  background: rgb(195, 248, 0);
}
