.settings-parameter-block {
    display: flex;
    flex-direction: row;
    padding: 2px 0;
    align-content: stretch;
    gap: 10px;
}

.settings-parameter-label {
    text-align: left;
    font-size: 15px;
    margin: 0;
    padding-top: 3px;
}

.settings-parameter-input {
    margin: 2px 0 13px;
    border-radius: 5px;
    padding: 7px 8px;
    background-color: #edf4fe;
    border: none;
}
.settings-parameter-input:focus {
    outline: none;
}

.settings-image-block {
    display: flex;
    flex-direction: column;
}

.settings-parameter-button {
    margin: 10px 0 10px;
    border: none;
    border-radius: 5px;
    padding: 7px 12px;
    background-color: #edf4fe;
}
.settings-parameter-button:hover {
    cursor: pointer;
    background-color: #e1edff;
}
