.person-main-data {
    display: flex;
}

.person-avatar {
    border-radius: 10px;
    margin-right: 15px;
}

.person-name, .person-birth {
    text-align: left;
}
.person-name {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 8px;
}
.person-birth {
    margin-top: 0;
    margin-bottom: 10px;
    color: #7a7a7a;
}

.person-main-buttons {
    margin: 25px 0;
}

.person-chat-button, .person-follow-button {
    display: block;
    border: none;
    margin: 8px 0;
    padding: 4px 25px;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    width: 120px;
}
.person-chat-button {
    background-color: #9cb9d1;
}
.person-follow-button {
    border: 1px #9cb9d1 solid;
    background: none;
}
.person-chat-button:hover, .person-follow-button:hover {
    background-color: #9cb9d1;
}

.person-content {
    margin-top: 25px;
}

.person-content-selectors {
    display: flex;
    list-style-type: none;
}
.person-content-selector {
    border: none;
    background: none;
    border-bottom: 4px white solid;
    margin: 0 15px;
    padding-bottom: 6px;
    text-decoration: none;
    cursor: pointer;
}
.person-content-selector:hover {
    border-bottom: 4px #094d74 solid;
}
.person-content-selector:focus {
    outline: none;
}
.person-content-selector-selected {
    border-bottom: 4px #094d74 solid;
}

.person-post {
    width: 441px;
    background-color: #edf4fe;
    margin: 16px 0;
    border-radius: 10px;
    padding: 20px 20px 10px;
    text-align: left;
    line-height: 23px;
}

.person-post-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.person-post-date-time {
    font-size: 14px;
    margin: 5px 0 0;
}
.person-comment-icon, .person-heart-icon {
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}
.person-heart-liked * {
    color: red
}
.person-like-count {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    position: relative;
    top: -10px;
}

.person-post-form {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 30px 0;
    border: 1px #cfdaec solid;
    padding: 15px;
}

.person-post-form-input {
    width: 451px;
    background: white;
    border: 1px #c0c0c0 solid;
}
.person-post-form-input:focus {
    outline: none;
}

.person-form-button {
    border: none;
    background: #edf4fe;
    margin-top: 10px;
    padding: 4px 25px;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
}

.person-photo-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}
.person-photo-form>* {
    margin-bottom: 15px;
}

.person-photo-input {
    border-radius: 5px;
    padding: 7px 8px;
    background-color: #edf4fe;
    border: none;
    min-width: 330px;
}
.person-photo-input:focus {
    outline: none;
}

.person-photo-button {
    border: none;
    border-radius: 5px;
    padding: 7px 12px;
    background-color: #edf4fe;
}
.person-photo-button:hover {
    cursor: pointer;
    background-color: #e1edff;
}

.person-photo-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 499px;
}

.person-photo-image {
    width: 153px;
    margin: 5px;
    box-shadow: 0 0 7px 1px #d9d9d9;
}